<html>
<head>
  <style>
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

    * {
      font-family: Roboto;
    }

    .footer-distributed {
      background-color: #292c2f;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      position: absolute;
      font: normal 16px sans-serif;
      padding: 45px 50px;
    }

    .footer-distributed .footer-left p {
      color: #8f9296;
      font-size: 14px;
      margin: 0;
      text-align: center;
    }
    
  </style>
</head>
<body>
<footer class="footer-distributed">
  <div class="footer-left">
    <p>Made By Sanuj Sood &copy; 2021</p>
  </div>
  </div>
</footer>
</body>
</html>